{% extends "index.html" %}
{% block title %} Catalog {% endblock %}

{% block content %}

<ul class="product-list">
    {% for item in cart_items %}
        <li class="product-item">
            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="product-image" width="200" height="150">
            <div class="product-info"></div>
                <h2>{{ item.product.name }}</h2>
                <p>{{ item.product.description }}</p>
                <p class="price">{{ item.product.price }}₽</p>
            </div>
            <a href="{% url 'cart:remove_from_cart' item.id %}" class="buy-now-button">Удалить</a>
        </li>
    {% empty %}
        <p style="font-family: 'Raleway', sans-serif; color: #fff; font-size: 24px;">Ваша корзина пуста.</p>
    {% endfor %}
</ul>
<div class="text">
    <p class="price">Стоимость: {{ total_price }}₽</p>
    <a href="{% url 'cart:product_list' %}" class="buy-now-button">Продолжить покупки</a>
</div>

{% endblock %}

