{% extends "index.html" %}
{% block title %} Catalog {% endblock %}

{% block content %}
    <ul class="product-list">
        {% for product in products %}
            <li class="product-item">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image" width="200" height="150">
                <div class="product-info"></div>
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                    <p class="price">{{ product.price }}₽</p>
                </div>
                <a href="#" class="buy-now-button">Купить сейчас</a>
                <a class="buy-now-button" href="{% url 'cart:add_to_cart' product.id %}">Добавить в корзину</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}