{% extends "index.html" %}

{% block title %} Edit Profile {% endblock %}

{% block content %}

<form method="POST" novalidate class="edit_profile">
    {% csrf_token %}

    <h2>Редактировать профиль</h2><br>

    <div>
        {% for field in form %}
        <div class="formFields">
            {{field.label_tag}}
            {{field}}
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn">Login</button>

</form>
{% endblock %}

<!--
<div class="formFields">
        {% for field in form %}
        <div class="fields">
            {{field.label_tag}}
            <div class="field">{{field}}</div>
        </div>
        {% endfor %}
</div>
-->